
# Database Configuration
DATABASE_URL= "mysql://user:password@localhost:3306/cognify"

# OpenAI API Configuration
OPENAPI_API_KEY= "sk-your-openai-api-key-here"

# RapidAPI for Text-to-Speech
RAPID_API_KEY="your-rapidapi-key-here"

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c29saWQtZWZ0LTMxLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_sw32UREocWyR5ROaz53anx9PRBeA7EowftOTcwhqV6

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# Unsplash for Image Search
NEXT_PUBLIC_UNSPLASH_ACCESS_KEY="your-unsplash-access-key-here"

# Pinecone for Vector Database
PINECONE_API_KEY= "your-pinecone-api-key-here"


# Groq API Configuration
GROQ_API_KEY= "gsk_your-groq-api-key-here"